BasedOnStyle: LLVM
UseTab: Never
Language: Cpp
IndentWidth: 4
TabWidth: 4
# BreakBeforeBraces: Stroustrup
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left 


